@font-face {
  font-family: 'Charter';
  font-style: normal;
  font-weight: normal;
  src:
  local('Charter Regular'),
  local('Charter-Regular'),
  url('Charter_Regular.woff2') format('woff2'),
  url('Charter_Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Charter';
  font-style: italic;
  font-weight: normal;
  src:
  local('Charter Italic'),
  local('Charter-Italic'),
  url('Charter_Italic.woff2') format('woff2'),
  url('Charter_Italic.otf') format('opentype');
}

@font-face {
  font-family: 'Charter';
  font-style: normal;
  font-weight: bold;
  src:
  local('Charter Bold'),
  local('Charter-Bold'),
  url('Charter_Bold.woff2') format('woff2'),
  url('Charter_Bold.otf') format('opentype');
}

@font-face {
  font-family: 'Charter';
  font-style: italic;
  font-weight: bold;
  src:
  local('Charter Bold Italic'),
  local('Charter-Bold-Italic'),
  url('Charter_Bold_Italic.woff2') format('woff2'),
  url('Charter_Bold_Italic.otf') format('opentype');
}
